# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ai_military\PROJECT\_PROJECT\git_hackterton\GJAI_Hackathon\simon_dj\firstproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
